/*! Fonts */

@font-face {
    font-family: 'tiempos_headlineblack';
    src: url('tiempos_headline-black-webfont.woff2') format('woff2'),
         url('css/tiempos_headline-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-smooth: always;
  }
  
  @font-face {
    font-family: 'benton_sansregular';
    src: url('bentonsans-regular_sot-webfont.woff2') format('woff2'),
         url('css/bentonsans-regular_sot-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-smooth: always;
  }

  /*! Font styles */
  h1 {
    font-family: 'tiempos_headlineblack', serif;
    font-size: 56px;
    color: black;
    }
  
  h2 {
    font-family: 'tiempos_headlineblack', serif;
    font-size: 22px;
    color: black;
  }
  h3 {
    font-family: 'benton_sansregular', sans-serif;
    font-size: 16px;
    line-height: 34px;
    color: black;
  }
  .label {
    font-family: 'benton_sansregular', sans-serif;
    font-size: 16px;
    text-transform: uppercase; 
    padding-bottom: 50px;
    color: #294d58;
  }
b {
    font-family: 'benton_sansbold', sans-serif;
  }

  h5 {
    font-family: 'benton_sansregular', sans-serif;
    font-size: 26px;
    margin-bottom: 12px;
    position: relative;
    color: rgb(78, 77, 77);
    }  
p {
    font-family: 'benton_sansregular', sans-serif;
    font-size: 16px;
    line-height: 34px;
    color: black;
    }
p2 {
    font-family: 'benton_sansregular', sans-serif;
    font-size: 16px;
    line-height: 34px;
    color: rgb(255, 255, 255);
    }
.subhead {
    font-family: 'tiempos_headlineblack', serif;
    font-size: 26px;
    line-height: 34px;
    color: black;
}
.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}
.fade-in.appear {
    opacity: 0;
}

  .headSea {
    max-width: 100%; 
    height: auto;
	margin: 0 auto;
	float: left;
    padding-top: 50px;
    padding-left: 120px;
    padding-right: 60px;
    text-align: left;
    background-color: #ffffff;
  }
  .ferryWrap {
    position: relative;
	margin: 0 auto;
    width: 100%;
	float: left;
    padding-top: 0px;
    padding-left: 7px;
    padding-right: 0px;
  }

  .ferry {
	margin: 0 auto;
    max-width: 900px;
    width: 90%;
	float: left;
    position: relative;top: 0px; left: 0px;
    animation: rotation 4s linear infinite;
  }

  .line{
    position: absolute;
    z-index: -1;
    width: 100%;
    overflow: hidden;
    height: 100%;
  }
  .line-1{
    opacity: 0.5;
    position: relative;
  }
  .line-2{
    opacity: 0.7;
  }
  .line-3{
    opacity: 0.7;
  }
  .line-4{
    opacity: 1;
  }

  .wave{
    position: relative;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 top;
  }
  .wave1{
    -webkit-background-size: 50% 80px;
    background-size: 50% 80px;
      animation-name: animate;
      animation-duration: 4s;
    }
  
  .wave2{
    -webkit-background-size: 50% 100px;
    background-size: 50% 100px;
    animation: animate 12s linear infinite;
  }
  .wave3{
    -webkit-background-size: 50% 80px;
    background-size: 50% 80px;
    animation: animate 18s linear infinite;
  }
  
  @keyframes animate {
    0% {
      background-position-x: 0;
    }
    100% {
      background-position-x: 100vw;
    }
    }

     @-webkit-keyframes rotation {
        0% {
          -webkit-transform: rotate(0deg);
        }
        25% {
          -webkit-transform: rotate(1deg);
        }
        50% {
          -webkit-transform: rotate(0deg);
        }
        75% {
          -webkit-transform: rotate(-1deg);
        }
        100% {
          -webkit-transform: rotate(0deg);
        }
      }
  
 
.button {
    border: none;
    color: white;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: transparent; 
    color: rgb(255, 255, 255); 
    border: 2px solid #ffffff;
  }
  
  .button:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }
  #myDIV {
    width: 100%;
    text-align: left;
    display: none;
    
  }  
  #myDIV2 {
    width: 100%;
    text-align: left;
    display: none;
  }  
  #myDIV3 {
    width: 100%;
    text-align: left;
    display: none;
  }  
  #myDIV4 {
    width: 100%;
    text-align: left;
    display: none;
  }  
  #myDIV5 {
    width: 100%;
    text-align: left;
    display: none;
  }  
  #myDIV6 {
    width: 100%;
    text-align: left;
    display: none;
  }  
  #myDIV7 {
    width: 100%;
    text-align: left;
    display: none;

  }  
  #myDIV8 {
    width: 100%;
    text-align: left;
    display: none;
    padding-bottom: 50px;
  }  

  .flowChart {
    max-width: 930px; 
	margin: 0 auto;
	float: left;
    padding-top: 20px;
    padding-left: 101px;
    padding-right: 30px;
    text-align: left;
    font-family: 'benton_sansregular', sans-serif;
  }


  .body {
    padding-left: 55px;
  }
  
  body {
    background-color: #294d58;
    background-image: linear-gradient(315deg, #294d58 10%, #839da5 100%);
    min-height: 100vh;
    margin: 0;
    padding-top: 0px;
  }

 .title{
    font-size: 24px;
    margin-bottom: 12px;
    padding-left: 55px;
    position: relative;
    color: white;
  }


  body .entries{
	margin: 0 auto;
	float: none;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
  }

  body .flowChart .entry .title{
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 12px;
    position: relative;
    color: white;
    
  }
  body .flowChart .entry .title:before{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border: 4px solid #ffffff;
    background-color: #ff852b;
    border-radius: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
  }
  body:before{
    content: '';
    position: fixed;
    z-index: -1;
    top: 0px;
    left: 120px;
    bottom: 0;
    transform: translateX(-50%);
    width: 4px;
    background-color: white;
  }

  .spacer {
    position: absolute;
    height: 10vh;
    width: 100vw;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

  .footer {
    color: #294d58;
    font-family: 'benton_sansbold', sans-serif;
    font-size: 16px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: center;
 }